<div class="bg-white">
    <nav class="navbar navbar-expand-sm container position-relative p-2">
        <a class="navbar-brand m-0 col-md-3 text-center" href="/">
         <img src="/static/images/Logo.webp" class="pb-2" style="object-fit: contain; height: 51px; max-height: 254px;">
        </a>

        <form class="col-md-6">
            <div class="input-group mw-md bg-white position-relative">
                <input class="form-control p-4 border-1" id="search-desktop" autocomplete="off" type="text"
                       placeholder="Search Book" name="keyword">
                <button class="btn pt-1 pb-1 pr-3 pl-3 btn-primary icon-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <div class="suggestion-list p-3">
                    <div>
                        <div></div>
                        <div>
                            <p class="">Sản phẩm</p>
                            <div class="p-0 suggestion-list-book flex-wrap list-unstyled d-flex">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-md-3 d-flex justify-content-around p-0 cursor-pointer">
            <div class="d-flex flex-column align-items-center bell ">
                <i class="fa-regular fa-bell"></i>
                <span>Thông báo</span>
                <div class="sub-notification">
                    <p class="sub-notification-header mb-0">
                        <span> <i class="fa-regular fa-bell"></i></span>
                        Thông báo
                    </p>
                    {% if current_user.is_authenticated %}
                        <ul class="notification-list" style="width:250px; list-style:none; padding:0; margin:0;">

                        </ul>
                    {% else %}
                        <div class="sub-notification-menu text-center pl-4 pt-4 pr-4">
                            <span class="sub-notification-menu-icon"></span>
                            <p class="pt-3 pb-3">Vui lòng đăng nhập để xem thông báo </p>
                        </div>
                        <div class="pl-4 pb-4 pr-4 ">
                            <button class="btn mb-3 pt-1 pb-1 pr-3 pl-3 btn-primary btn-large">
                                <a class="text-decoration-none text-white" href="/account/login">Đăng nhập</a>
                            </button>
                            <button class="btn pt-1 pb-1 pr-3 pl-3 btn-primary-outline btn-large">
                                <a class="text-decoration-none text-primary" href="/account/register">Đăng ký</a>
                            </button>
                        </div>
                    {% endif %}

                </div>
            </div>
            <div class="d-flex flex-column align-items-center account ">
                <i class="fa-regular fa-user"></i>
                <span>Tài khoản</span>
                <div class="sub-login flex-column border-1">
                    {% if current_user.is_authenticated %}
                        <div class="col-6 text-center">
                            <div class="profile-picture" style="width: 170px; height: 170px">
                                <img src="{{ current_user.avt_url }}" alt="Profile Picture"
                                     class="img-fluid profile-image rounded-circle">
                            </div>
                        </div>
                        <!--                    <img src="{{ current_user.avt_url }}" style="margin-left: auto; margin-right: auto;" width="100"-->
                        <!--                         class="rounded-circle"/>-->
                        <a class="nav-link text-info" href="/" style="text-align:center !important;">
                            Chào {{ current_user.full_name }}
                        </a>
                        <button class="btn mb-3 pt-1 pb-1 pr-3 pl-3 btn-primary btn-large" id="profileButton">
                            <a class="text-decoration-none text-white" href="/account/profile">Tài khoản của tôi</a>
                        </button>
                        <button class="btn mb-3 pt-1 pb-1 pr-3 pl-3 btn-primary btn-large">
                            <a class="text-decoration-none text-white" href="/account/logout">Đăng xuất</a>
                        </button>
                    {% else %}

                        <a class="btn mb-3 pt-1 pb-1 pr-3 pl-3 btn-primary btn-large" href="/account/login">Đăng
                            nhập</a>
                        <a class="btn mb-3 pt-1 pb-1 pr-3 pl-3 btn-primary-outline btn-large" href="/account/verify">Đăng
                            ký </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</div>

{% block js %}
<script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-messaging-compat.js"></script>
<script>
  // Initialize Firebase
  const firebaseConfig = {
      apiKey: "AIzaSyCHRHQfuw81Cs1u8I5ep5PLJs3OuSsKaMY",
      authDomain: "ou-library.firebaseapp.com",
      projectId: "ou-library",
      storageBucket: "ou-library.firebasestorage.app",
      messagingSenderId: "739534297897",
      appId: "1:739534297897:web:d4a55b6044d2b31a2d3538",
      measurementId: "G-XQ1X2C5CBJ"
  };
  firebase.initializeApp(firebaseConfig);

  const messaging = firebase.messaging();

  {% if current_user.is_authenticated %}
  (async () => {
      const userId = {{ current_user.user_id }};

      // 3. Get FCM token
      try {
           const registration = await navigator.serviceWorker.register('/static/js/firebase-messaging-sw.js');
           const token = await messaging.getToken({
            vapidKey: "BNrMUjR8ZcKGu5GFXoJQPnHc_mJg019HB3Ne00j39kfiqA8fTUlz-0-EzIwMYbpha0Ea4u1UzEUxYMYmSKgTS2o",
            serviceWorkerRegistration: registration
        });
          console.log("FCM Token:", token);


          await fetch("/subscribe_topic", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({ userId, token })
          });
          console.log("Subscribed user to FCM topic successfully!");
      } catch (err) {
          console.error("FCM subscription error:", err);
      }

      // 4. Listen for foreground messages
      messaging.onMessage((payload) => {
          const listNotifications = document.querySelector('.notification-list')
          if (payload.notification) {
            const html = `
              <li style="background-color: #f0f0f0; padding: 6px; border-radius: 4px;">
                <span class="font-weight-bold px-2">${payload.notification.title}</span>
                <span class="px-2">${payload.notification.body}</span>
              </li>
            `;

            listNotifications.insertAdjacentHTML("afterbegin", html);
             Toastify({
                text: `Bạn có thông báo mới `,
                duration: 4000, // 4s
                close: true,    // show close button
                gravity: "top", // `top` or `bottom`
                position: "right", // `left`, `center`, or `right`
                backgroundColor: "#4caf50", // green toast (customize)
                stopOnFocus: true, // pause when hovered
              }).showToast();
          }
      });

  })();
  {% endif %}
</script>

{% endblock %}



