<div class="bg-white">
    <nav class="navbar navbar-expand-sm container position-relative p-2">
        <a class="navbar-brand m-0 col-md-3 text-center" href="/">
            <img class="w-100 pb-2" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/fahasa-logo.png">
        </a>

        <form class="col-md-6">
            <div class="input-group mw-md bg-white position-relative">
                <input class="form-control p-4 border-1" id="search-desktop" autocomplete="off" type="text"
                       placeholder="Search Book" name="keyword">
                <button class="btn pt-1 pb-1 pr-3 pl-3 btn-primary icon-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <div class="suggestion-list p-3">
                    <div>
                        <div></div>
                        <div>
                            <p class="">Sản phẩm</p>
                            <div class="p-0 suggestion-list-book flex-wrap list-unstyled d-flex">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-md-3 d-flex justify-content-around p-0 cursor-pointer">
            <div class="d-flex flex-column align-items-center bell ">
                <i class="fa-regular fa-bell"></i>
                <span>Thông báo</span>
                <div class="sub-notification">
                    <p class="sub-notification-header">
                        <span> <i class="fa-regular fa-bell"></i></span>
                        Thông báo
                    </p>

                </div>
            </div>
            <div class="d-flex flex-column align-items-center account ">
                <i class="fa-regular fa-user"></i>
                <span>Tài khoản</span>

            </div>
        </div>
    </nav>
</div>




